@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-ink-950 text-slate-800 antialiased font-sans;
    font-feature-settings: "tnum" 1, "cv11" 1;
  }
  ::selection {
    @apply bg-blue-100 text-slate-900;
  }
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: theme("colors.ink.600");
    border-radius: 2px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
